# Web Scraping - ASSIGNMENT 4

In [1]:
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time
import pandas as pd
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import NoSuchElementException 
from selenium.common.exceptions import ElementNotInteractableException

## Question 1

Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:


A) Rank


B) Name


C) Artist


D) Upload date


E) Views

In [2]:
# Importing driver
driver=webdriver.Chrome(r'C:\Users\User\Desktop\Chromedriver.exe')

In [3]:
# Specifying url of the webpage
url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'

In [4]:
# Navigate to required url
driver.get(url)
rank=[]
name=[]
artist=[]
date=[]
view=[]
time.sleep(3)

# Scrape data from each match tab
nums=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
names=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
artists=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]')
views=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[4]')
dates=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]')

# Itenrate over teh elements to get the required data
for i in [nums,names,artists,views,dates]:
    for j in i:
        if i == nums:
            rank.append(j.text)
        if i == names:
            name.append(j.text)
        if i== artists:
            artist.append(j.text)
        if i == views:
            view.append(j.text)
        if i == dates:
            date.append(j.text)
            
# Create data frame of the scraped data
wiki_youtube = pd.DataFrame({})
wiki_youtube['Rank'] = rank
wiki_youtube['Title'] = name
wiki_youtube['Artist'] = artist
wiki_youtube['Upload Date'] = date
wiki_youtube['Views (in billons)'] = view
wiki_youtube.head()

,Rank,Title,Artist,Upload Date,Views (in billons)
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.04
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.23
2,3.,"""Shape of You""[25]",Ed Sheeran,"January 30, 2017",5.20
3,4.,"""See You Again""[26]",Wiz Khalifa,"April 6, 2015",4.99
4,5.,"""Johny Johny Yes Papa""[29]",LooLoo Kids,"October 8, 2016",4.87

## Question 2

Scrape the details team Indiaâ€™s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:


A) Match title (I.e. 1st ODI)


B) Series


C) Place


D) Date


E) Time

In [5]:
# Importing driver
driver=webdriver.Chrome(r'C:\Users\User\Desktop\Chromedriver.exe')

In [6]:
# Specifying url of the webpage
url='https://www.bcci.tv/'

In [7]:
# Navigate to required url
driver.get(url)

# Navigate to page
driver.find_element_by_xpath('//nav[@class="navigation__menu js-navigation-menu"]/ul/li[1]').click()
time.sleep(2)
driver.find_element_by_xpath('//nav[@class="navigation__menu js-navigation-menu"]/ul/li[1]/div/div/ul/li[1]').click()
time.sleep(3)
title=[]
series=[]
place=[]
date=[]
time1=[]

# Scrapeing
titles=driver.find_elements_by_xpath('//strong[@class="fixture__name fixture__name--with-margin"]')
tournaments=driver.find_elements_by_xpath('//div[@class="fixture__format-strip"]')
places=driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]/span')
dates=driver.find_elements_by_xpath('//div[@class="fixture__datetime desktop-only"]/div/span')
months=driver.find_elements_by_xpath('//div[@class="fixture__datetime desktop-only"]/div/div/span[1]')
times=driver.find_elements_by_xpath('//div[@class="fixture__full-date"]/div/span[2]')

# Iterate over each list to get the data
for i in tournaments:
    series.append(i.text)
for i in titles:
    title.append(i.text)
for i in places:
    place.append(i.text)
for i in times:
    time1.append(i.text)
for i in range(len(dates)):
    date.append(dates[i].text+months[i].text)

# Create dataframe
icc=pd.DataFrame({})
icc['Match Title']=title
icc['Series']=series
icc['Place']=place
icc['Time']=time1
icc['Date']=date
icc.head()

,Match Title,Series,Place,Time,Date
0,4th Test,TEST\nINDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",09:30 IST,04MARCH
1,1st T20I,T20I\nINDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",19:00 IST,12MARCH
2,2nd T20I,T20I\nINDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",19:00 IST,14MARCH
3,3rd T20I,T20I\nINDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",19:00 IST,16MARCH
4,4th T20I,T20I\nINDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",19:00 IST,18MARCH

## Question 3

Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:


A) Name


B) Description

In [8]:
# Importing driver
driver=webdriver.Chrome(r'C:\Users\User\Desktop\Chromedriver.exe')

In [9]:
# Specifying url of the webpage
url='https://www.guru99.com/'

In [10]:
# Navigate to required url
driver.get(url)

# Navigate to selenium page
driver.find_element_by_xpath('//div[@class="featured-box cloumnsize1"]/ul[1]/li[3]').click()
time.sleep(3)

# Navigate to exceptions page
driver.find_element_by_xpath('//div[@class="item-page"]/div[2]/table[5]/tbody/tr[34]/td[1]').click()

# Scrape the required data
column1=driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]')
column2=driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]')
exception_name=[]
description=[]

# Get test by iterating over tags list
for i in column1[1:]:
    exception_name.append(i.text)
for i in column2[1:]:
    description.append(i.text)
    
# Create dataframe of teh scraped data
exceptions=pd.DataFrame({})
exceptions['Exception Name']=exception_name
exceptions['Description']=description
exceptions.head()

,Exception Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...

## Question 4

Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:


A) Rank


B) State


C) GSDP(18-19)


D) GSDP(17-18)


E) Share(2017)


F) GDP($ billion)

In [11]:
# Importing driver
driver=webdriver.Chrome(r'C:\Users\User\Desktop\Chromedriver.exe')

In [12]:
# Specifying url of the webpage
url='http://statisticstimes.com/'

In [13]:
# Navigate to required url
driver.get(url)
driver.maximize_window()

# Navigate to the statewise gdp page
driver.find_element_by_xpath('//div[@class="navbar"]/div[2]').click()
time.sleep(1)
driver.find_element_by_xpath('//div[@class="navbar"]/div[2]/div/a[3]').click()
time.sleep(2)
driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()
time.sleep(2)
rank=[]
state=[]
gdsp_1819=[]
gdsp_1718=[]
share=[]
gdp=[]

# Scrape the required table
ranks=driver.find_elements_by_xpath('//div[@id="main"]/div[5]/div/div/table/tbody/tr/td[1]')
states=driver.find_elements_by_xpath('//div[@id="main"]/div[5]/div/div/table/tbody/tr/td[2]')
gdsp_1718s=driver.find_elements_by_xpath('//div[@id="main"]/div[5]/div/div/table/tbody/tr/td[3]')
gdsp_1819s=driver.find_elements_by_xpath('//div[@id="main"]/div[5]/div/div/table/tbody/tr/td[4]')
shares=driver.find_elements_by_xpath('//div[@id="main"]/div[5]/div/div/table/tbody/tr/td[5]')
gdps=driver.find_elements_by_xpath('//div[@id="main"]/div[5]/div/div/table/tbody/tr/td[6]')
tags=[ranks,states,gdsp_1718s,gdsp_1819s,shares,gdps]

# Iterate on each tags list to get data 
for i in tags:
    for j in i:
        if i==tags[0]:
            rank.append(j.text)
        if i==tags[1]:
            state.append(j.text)
        if i==tags[2]:
            gdsp_1718.append(j.text)
        if i==tags[3]:
            gdsp_1819.append(j.text)
        if i==tags[4]:
            share.append(j.text)
        if i==tags[5]:
            gdp.append(j.text)

# Create dataframe
economy=pd.DataFrame({})
economy['Rank']=rank
economy['State']=state
economy['GSDP_1718']=gdsp_1718
economy['GSDP_1819']=gdsp_1819
economy['Share 2017']=share
economy['GDP (in billion)']=gdp
economy.head()

  Rank          State  GSDP_1718  GSDP_1819 Share 2017 GDP (in billion)
0    1    Maharashtra          -  2,632,792     13.88%          398.145
1    2     Tamil Nadu  1,845,853  1,630,208      8.59%          246.529
2    3  Uttar Pradesh  1,687,818  1,584,764      8.35%          239.656
3    4        Gujarat          -  1,502,899      7.92%          227.276
4    5      Karnataka  1,631,977  1,493,127      7.87%          225.798

## Question 5

Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:


A) Repository title


B) Repository description


C) Contributors count


D) Language used

In [195]:
driver.get('https://github.com/')

In [228]:
def git_trend(url):
    
    #getting the website started
    driver.get(url)
    
    #using the search bar for further search
    search = driver.find_element_by_xpath("//label[@class='form-control input-sm header-search-wrapper p-0 js-chromeless-input-container header-search-wrapper-jump-to position-relative d-flex flex-justify-between flex-items-center']")
    search.send_keys('trending')
    search.send_keys(Keys.RETURN)
    time.sleep(5)
    
    #creating the empty lists
    name = []
    description = []
    contribute = []
    language = []
    
    #repository name
    nam = driver.find_elements_by_xpath("//div[@class='f4 text-normal']//a")
    for i in nam:
        name.append(i.text)
        
    #description
    desc = driver.find_elements_by_xpath("//p[@class='mb-1']")
    for i in desc:
        description.append(i.text)
        
    #contributors
    contri = driver.find_elements_by_xpath("//a[@class='muted-link']")
    for i in contri:
        contribute.append(i.text)
        
    #language used
    lang = driver.find_elements_by_xpath("//div[@class='d-flex flex-wrap text-small text-gray']//div[2]/span//span[2]")
    for i in lang:
        language.append(i.text)
        
    #creating the dataframe
    df_git = pd.DataFrame({})
    df_git['Repository Name'] = name
    df_git['Repository Description'] = description
    df_git['Contributors'] = contribute
    
    return df_git

In [229]:
url = 'https://github.com/'
git_trend(url)

,Repository Name,Repository Description,Contributors
0,iam-abbas/Reddit-Stock-Trends,Fetch currently trending stocks on Reddit,1.3k
1,mbadry1/Trending-Deep-Learning,Top 100 trending deep learning repositories so...,539
2,datawrangling/trendingtopics,Rails app for tracking trends in server logs -...,353
3,GeneralMills/pytrends,Pseudo API for Google Trends,2k
4,vitalets/github-trending-repos,Track GitHub trending repositories in your fav...,2.1k
5,d3/d3,"Bring data to life with SVG, Canvas and HTML. ...",95.7k
6,rnoelle/trendingTrivia,A project using angular to bring static HTML/C...,2
7,Nightonke/GithubWidget,"Contributions, stars, followers, trending etc....",698
8,huchenme/github-trending-api,The missing APIs for GitHub trending projects ...,609
9,ophobe/trending,Dataset of trending repositories on GitHub,56

## Question 6

Scrape the details of top 100 songs on billiboard.com.
Url = https://www.billiboard.com/
You have to find the following details:


A) Song name


B) Artist name


C) Last week rank


D) Peak rank


E) Weeks on board

In [14]:
# Importing driver
driver=webdriver.Chrome(r'C:\Users\User\Desktop\Chromedriver.exe')

In [15]:
# Specifying url of the webpage
url="https://www.billboard.com/"

In [16]:
# Navigate to required url
driver.get(url)
driver.maximize_window()
time.sleep(3)

# Acquire on top100 tab
driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[2]/nav/ul/li[3]/a').click()
name=[]
artist=[]
last_week_rank=[]
peak_rank=[]
no_of_week=[]

# Scrape the required data
song_names=driver.find_elements_by_xpath('//ol[@class="chart-list__elements"]/li/button/span[2]/span[1]')
artists=driver.find_elements_by_xpath('//ol[@class="chart-list__elements"]/li/button/span[2]/span[2]')
last_weeks=driver.find_elements_by_xpath('//ol[@class="chart-list__elements"]/li/button/div/div[1]')
peaks=driver.find_elements_by_xpath('//ol[@class="chart-list__elements"]/li/button/div/div[2]')
no_of_weeks=driver.find_elements_by_xpath('//ol[@class="chart-list__elements"]/li/button/div/div[3]')

# Iterate on each tags list to get data 
for i in [song_names,artists,last_weeks,peaks,no_of_weeks]:
    for j in i:
        if i==song_names:
            name.append(j.text)
        if i==artists:
            artist.append(j.text)
        if i==last_weeks:
            last_week_rank.append(j.text)
        if i==peaks:
            peak_rank.append(j.text)
        if i==no_of_weeks:
            no_of_week.append(j.text)

# Create dataframe            
billboard=pd.DataFrame({})
billboard['name']=name
billboard['artist']=artist
billboard['last_week_rank']=last_week_rank
billboard['peak_rank']=peak_rank
billboard['no_of_week']=no_of_week
billboard.head()

,name,artist,last_week_rank,peak_rank,no_of_week
0,Drivers License,Olivia Rodrigo,,1,1
1,Up,Cardi B,,5,2
2,Go Crazy,Chris Brown & Young Thug,,8,3
3,34+35,Ariana Grande,2,2,17
4,Blinding Lights,The Weeknd,4,1,64

## Question 7

Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:


A) Name


B) Designation


C) Company


D) Skills they hire for


E) Location

In [245]:
keyword = 'Data Scientist'

In [268]:
def naukri_data(search_option):
    
    #getting the website
    driver.get('https://www.naukri.com/')
    
    #getting to the required webpage
    search = driver.find_element_by_xpath("//div[@class='inpWrap']/input")
    search.send_keys(search_option)
    search.send_keys(Keys.RETURN)
    time.sleep(10)
    
    #creating empty lists
    name = []
    company = []
    designation = []
    location = []
    skill = []
    
    #name
    nam = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
    for i in nam:
        name.append(i.text)
        
    #company
    comp = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
    for i in comp:
        company.append(i.text)
        
    #location
    loc = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")
    for i in loc:
        location.append(i.text)
        
    #designation
    desg = driver.find_elements_by_xpath("//div[@class='job-description fs12 grey-text']")
    for i in desg:
        designation.append(i.text)
        
    #skill
    skil = driver.find_elements_by_xpath("//ul[@class='tags has-description']")
    for i in skil:
        skill.append(list(i.text))
        
    #creating the dataframe
    df_naukri = pd.DataFrame({})
    df_naukri['Name'] = name
    df_naukri['Company'] = company
    df_naukri['Location'] = location
    df_naukri['Designation'] = designation
    df_naukri['Skill'] = skill
    
    return df_naukri

In [269]:
keyword = 'Data Scientist'
naukri_data(keyword)

,Name,Company,Location,Designation,Skill
0,Architect/ Lead/ Senior/ Analyst - Data Scient...,ZETTAMINE LABS PRIVATE LIMITED,Hyderabad,Job Title: Architect/ Lead/ Senior/ AnalystJob...,"[I, T, , S, k, i, l, l, s, \n, P, y, t, h, o,..."
1,Data Scientist - Python/ MATLAB/ Machine Learn...,Wrackle Technologies Pvt Ltd,Bengaluru,"BS / MS/PhD in Computer Science, Statistics, A...","[I, T, , S, k, i, l, l, s, \n, P, y, t, h, o,..."
2,Lead Data Scientist - Machine Learning/ Data M...,Wrackle Technologies Pvt Ltd,Bengaluru,"BS/ MS/ PhD in Computer Science, Statistics, A...","[I, T, , S, k, i, l, l, s, \n, P, y, t, h, o,..."
3,Data Scientist - Machine Learning (Commerce BU),BLUE YONDER INDIA PRIVATE LIMITED,Bengaluru,"Roles and ResponsibilitiesUnder guidance, or i...","[D, a, t, a, , S, c, i, e, n, c, e, \n, D, a,..."
4,Data Scientist - Machine Learning/Python,CarbyneTech India,Hyderabad,"You have at least 2 year experience, ideally w...","[P, r, e, d, i, c, t, i, v, e, , M, o, d, e, ..."
5,Data Scientist,Atos Syntel Private Limited,"Chennai, Pune, Mumbai, Bengaluru","Working experience in Artificial Intelligence,...","[I, T, , S, k, i, l, l, s, \n, J, a, v, a, \n..."
6,Opening For Sr. Data Scientist @ Tech Mahindra,Tech Mahindra Ltd.,"Pune, Bengaluru","BE or MS or PhD degree in Computer Science, Ar...","[I, T, , S, k, i, l, l, s, \n, J, a, v, a, \n..."
7,Opening For Sr. Data Scientist @ Tech Mahindra,Tech Mahindra Ltd.,"Pune, Bengaluru",Role Sr. Data ScientistExp. 12 â€“ 20 yearsLocat...,"[I, T, , S, k, i, l, l, s, \n, J, a, v, a, \n..."
8,Senior Data Scientist - NLP/ Python/ R,AVI Consulting LLP,"Bengaluru, Hyderabad",Experience with application development practi...,"[I, T, , S, k, i, l, l, s, \n, J, a, v, a, \n..."
9,Senior Data Scientist | CES IT LTD | CMMI Level 5,CES Ltd.,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",Logical and Analytical skills must be really s...,"[I, T, , S, k, i, l, l, s, \n, P, y, t, h, o,..."
10,Data Analyst/Data Scientist,Suzlon Energy Limited,Pune,Required Skills: Expert level knowledge of Pyt...,"[B, i, g, , D, a, t, a, , A, n, a, l, y, t, ..."
11,Data Scientist and Senior Data Scientist Acade...,RANDSTAD INDIA PVT LTD,Bengaluru,Graduate with an exceptional academic track re...,"[T, a, b, l, e, a, u, \n, M, a, c, h, i, n, e,..."
12,Sr. Analyst-Data Scientist,Mindtree Limited,Bengaluru,Responsibilities : - Understanding the project...,"[I, T, , S, k, i, l, l, s, \n, P, y, t, h, o,..."
13,Sr . Data Scientist,NetApp,Bengaluru,A bachelor s degree in engineering or science ...,"[P, r, o, d, u, c, t, , m, a, n, a, g, e, m, ..."
14,DATA SCIENTIST / MACHINE LEARNING EXPERT,Spectrus,Bengaluru,"Good applied statistics skills, such as distri...","[I, T, , S, k, i, l, l, s, \n, T, e, s, t, i,..."
15,Associate Data Scientist | 0-2 Years | Gurgaon,Xtage Technologies Private Limited,"Delhi NCR, Gurgaon",Please note that the position is open for cand...,"[A, d, v, a, n, c, e, d, , A, n, a, l, y, t, ..."
16,Artificial Intelligence Analyst/Data Scientist,TalentCo Search Pvt Ltd,"Mumbai, Bengaluru",Should have at-least 1 end-to-end ML project e...,"[I, T, , S, k, i, l, l, s, \n, P, y, t, h, o,..."
17,Senior Data Scientist,Viaprom Technologies Pvt Ltd,Mumbai,Extensive experience in Machine learning algor...,"[R, \n, S, A, S, , S, Q, L, \n, S, A, S, \n, ..."
18,Tech Mahindra is hiring For Data Scientist- Ba...,tech mahindra ltd,Bengaluru,"Proficiency in cleaning, visualizing, analysin...","[P, r, e, d, i, c, t, i, v, e, , M, o, d, e, ..."
19,Sr. Data Scientist-Machine Learning,Lending Tree Research Services LLP,Ahmedabad(Makarba),Masters degree is a plusLooking for someone wi...,"[I, T, , S, k, i, l, l, s, \n, P, y, t, h, o,..."

## Question 8

Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
You have to find the following details:


A) Book name


B) Author name


C) Volumes sold


D) Publisher


E) Genre

In [17]:
# Importing driver
driver=webdriver.Chrome(r'C:\Users\User\Desktop\Chromedriver.exe')

In [18]:
# Specifying url of the webpage
url="https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"

In [19]:
# Navigate to required url
driver.get(url)
title=[]
author=[]
volume=[]
publisher=[]
genre=[]

# Scrape the details from the table
column1=driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[2]')
column2=driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[3]')
column3=driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[4]')
column4=driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[5]')
column5=driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[6]')

# Iterate over each tags list to get text 
for i in [column1,column2,column3,column4,column5]:
    for j in i:
        if i==column1:
            title.append(j.text)
        if i==column2:
            author.append(j.text)
        if i==column3:
            volume.append(j.text)
        if i==column4:
            publisher.append(j.text)
        if i==column5:
            genre.append(j.text)

# Create dataframe           
books=pd.DataFrame({})
books['title']=title
books['author']=author
books['sales']=volume
books['publisher']=publisher
books['genre']=genre
books.head()

,title,author,sales,publisher,genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas

## Question 9

Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:


A) Name


B) Year span


C) Genre


D) Run time


E) Ratings


F) Votes

In [20]:
# Importing driver
driver=webdriver.Chrome(r'C:\Users\User\Desktop\Chromedriver.exe')

In [21]:
# Specifying url of the webpage
url="https://www.imdb.com/list/ls095964455/"

In [22]:
# Navigate to required url
driver.get(url)
title=[]
span=[]
genre=[]
run_time=[]
rating=[]
vote=[]

# Scrape the details from the table
titles=driver.find_elements_by_xpath('//div[@class="lister-item-content"]/h3/a')
spans=driver.find_elements_by_xpath('//div[@class="lister-item-content"]/h3/span[2]')
genres=driver.find_elements_by_xpath('//div[@class="lister-item-content"]/p/span[5]')
run_ts=driver.find_elements_by_xpath('//div[@class="lister-item-content"]/p/span[3]')
ratings=driver.find_elements_by_xpath('//div[@class="lister-item-content"]/div/div/span[2]')
votes=driver.find_elements_by_xpath('//div[@class="lister-item-content"]/p[4]/span[2]')

# Iterate over each tags list to get data 
for i in [titles,spans,genres,run_ts,ratings,votes]:
    for j in i:
        if i==titles:
            title.append(j.text)
        if i==spans:
            span.append(j.text)
        if i==genres:
            genre.append(j.text)
        if i==run_ts:
            run_time.append(j.text)
        if i==ratings:
            rating.append(j.text)
        if i==votes:
            vote.append(j.text)
            
# Create dataframe of teh acquired data 
imdb_shows=pd.DataFrame({})
imdb_shows['title']=title
imdb_shows['span']=span
imdb_shows['genre']=genre
imdb_shows['run_time']=run_time
imdb_shows['rating']=rating
imdb_shows['vote']=vote
imdb_shows.head()

,title,span,genre,run_time,rating,vote
0,Game of Thrones,(2011â€“2019),"Action, Adventure, Drama",57 min,9.3,"1,777,549"
1,Stranger Things,(2016â€“ ),"Drama, Fantasy, Horror",51 min,8.7,"828,228"
2,The Walking Dead,(2010â€“ ),"Drama, Horror, Thriller",44 min,8.2,"856,447"
3,13 Reasons Why,(2017â€“2020),"Drama, Mystery, Thriller",60 min,7.6,"257,112"
4,The 100,(2014â€“2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"217,606"